body{
   background-color: #FDE74C; 
 font-family: 'Courier New', Courier, monospace;
}

.pizza {
   /*Box model*/
   padding: 2em;
   border: 1px;
   margin: 2em;
   border-radius: 1em;
}

.medium{
   background-color: #E55934;
   
}
.small{
   background-color: #FA7921;
}
.large{
   background-color: #9BC53D;
}
.contact_details {
   background-color: #9BC53D;
}
@media (min-width: 960px){
.pizzas
{
   display: flex;
}
}

